#contact {
  height: 500px;
  padding: 20px 100px;
  display: none;
  background-color: black;
}
#contact h1 {
  color: lightgrey;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
}
@media screen and (max-width: 650px) {
  #contact {
    /* padding: 0px 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #contact h4 {
    text-align: center;
    color: green;
  }
  #contact input,
  textarea {
    display: block;
    width: 300px;
    padding: 10px 10px;
  }
  textarea,
  input {
    border: 2px solid green;
    margin-top: 0.5rem;
    border-radius: 5px;
  }
}
