header {
  height: 100px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: green;
  /* border-bottom: 1px solid grey; */
  box-shadow: 0px 1px 4px 0px grey;
  z-index: 1;
  padding: 20px 100px;
}
.socials {
  position: absolute;
  left: 0;
  top: 200%;
  border: 1px solid green;
  width: 50px;
  height: 120px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  border-top-right-radius: 5px;
  align-items: center;
  z-index: 1;
}
.contact-me {
  position: absolute;
  top: 200%;
  right: 30%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 0;
  transition: 0.5s;
  border-radius: 5px;
  background-color: lightgray;
}
.contact-me input,
textarea {
  display: block;
  width: 300px;
  border: none;
  padding: 10px 10px;
  margin-top: 0.5rem;
  outline: none;
}
.contact-me input:hover {
  outline: 2px solid green;
}
.cancel-contact-me {
  position: absolute;
  right: 0;
  color: red;
  font-size: 2rem;
  top: 0;
}
/* .contact-me-mobile {
  position: absolute;
  height: 200px;
  width: 320px;
  border: 1px solid green;
  top: 150%;
  padding: 10px 10px;

} */

.header span {
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.header #logo {
  color: green;
  font-size: 1rem;
  text-decoration: underline;
}
#nav-bar {
  border-bottom: 1px dotted green;
}
#nav-bar:hover,
#nav-bar:focus {
  border-bottom: 1px solid black;
  transition: 0.9s;
  cursor: pointer;
  color: black;
}

.headline {
  height: auto;
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
}
.headline > h1 {
  font-size: 2rem;
  color: grey;
}
.headline p {
  color: grey;
  font-size: 1rem;
  display: inline-block;
}
.headline button {
  padding: 10px 10px;
  margin-top: 5px;
  background-color: green;
  color: lightgrey;
  border-radius: 5px;
  position: relative;
  border: none;
  font-size: bold;
  justify-self: center;
  display: block;
  width: 10rem;
  margin-top: 2rem;
}
.headline strong {
  font-size: 0.5rem;
}
.headline button:hover {
  background-color: lightgreen;
  color: black;
  transition: 0.5s;
}
.tech-stacks {
  height: auto;
  display: grid;
  margin-top: 50px;
  padding: 0px 10px;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 0.4rem;
}
.tab {
  display: none;
}
.stack {
  height: 100px;
  width: 290px;
  border-radius: 3px;
  display: flex;
  border: 1px solid grey;
  color: green;
  align-items: center;
  justify-content: space-around;
  padding: 10px 5px;
  background-color: rgba(0, 0, 0, 0.3);
}
.stack:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  box-shadow: 0px 2px 3px 0px grey;
}
.side-Button {
  position: sticky;
  height: 200px;
  width: 10px;
  border: 1px solid green;
  position: absolute;
  left: 0;
  top: 20%;
}
.git-linkInd {
  position: sticky;
  left: 0;
  top: 20%;
}
.tab button {
  border: none;
  background-color: inherit;
}

@media screen and (max-width: 650px) {
  .tab {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    height: 4rem;
    position: sticky;
    top: 0;
    background-color: lightgrey;
  }
  .header {
    display: sticker;
    background-color: lightgray;

  }
  header {
    display: none;
  }

  .menu {
    position: absolute;
    left: 0;
    top: 350%;
    height: 180px;
    border-start-end-radius: 5px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
    justify-content: space-between;
    z-index: 1;
    background-color: lightgray;
    color: green;
  }
  .dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    /* background-color: rgba(0, 0, 0, 0.3); */
    transition: 0.5s;
    height: auto;
    width: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .nav-bars {
    font-size: 1rem;
    color: black;
    font-weight: bolder;
    margin-top: 0.7rem;
  }
  .nav-bars:hover {
    border-bottom: 1px solid green;
    color: green;
  }
  .icon-item {
    margin-bottom: 0.8rem;
    font-weight: 300;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
  .header #logo {
    color: lightgray;
    text-decoration: none;
  }
  .header span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: lightgray;
    /* width: 300px; */
    padding: 5px 10px;
  }
  .headline {
    height: auto;
    padding: 0px 10px;

  }
  .headline h1 {
    font-size: 1.5rem;
  }
  .header #logo {
    font-size: 1rem;
    color: green;
  }
  header {
    height: auto;
  }
  .headline {
    margin-top: 1rem;
    flex-direction: column;
    /* padding: 0px 5px; */
    align-items: flex-start;
    /* border-bottom: 1px solid lightgray; */
  }
  .headline h1 {
    font-size: 1.8rem;
    color: grey;
  }
  .headline p {
    font-size: 0.9rem;
  }
  .tech-stacks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    align-self: center;
    width: auto;
  }
  .headline button {
    align-self: center;
    margin-top: 10px;
    width: 300px;
  }
  .stack {
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 0px;
    height: 80px;
  }
  .headline strong {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 712px) {
  .tech-stacks {
    grid-template-columns: repeat(2, 18rem);
    gap: 0.4rem;
  }
  header {
    padding: 0px 50px;
  }
  .headline {
    padding: 0px 50px;
  }
}
