header {
  height: 100px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: green;
  /* border-bottom: 1px solid grey; */
  box-shadow: 0px 4px 0px 0px green;
  z-index: 1;
  padding: 20px 100px;
}
.header span {
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.header #logo {
  color: green;
  font-size: 1rem;
  text-decoration: underline;
}
#nav-bar:hover,
#nav-bar:focus {
  border-bottom: 1px solid black;
  transition: 0.9s;
  cursor: pointer;
  color: black;
}

.headline {
  height: 500px;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
}
.headline h1 {
  font-size: 4rem;
  color: grey;
}
.headline p {
  color: black;
  font-size: 1rem;
  display: inline-block;
}
.headline button {
  padding: 10px 10px;
  margin-top: 5px;
  background-color: green;
  color: lightgrey;
  border-radius: 5px;
  position: relative;
  border: none;
  font-size: bold;
  justify-self: center;
  display: block;
  width: 10rem;
  margin-top: 2rem;
}
.headline strong {
  font-size: 0.5rem;
}
.headline button:hover {
  background-color: lightgreen;
  color: black;
  transition: 0.5s;
}
.tech-stacks {
  height: 300px;
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(2, 300px);
  grid-gap: 1rem;
}
.tab {
  display: none;
}
.stack {
  height: 50px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  background-color: green;
  color: lightgrey;
  align-items: center;
  justify-content: space-around;
}

.side-Button {
  position: sticky;
  height: 200px;
  width: 10px;
  border: 1px solid green;
  position: absolute;
  left: 0;
  top: 20%;
}
.git-linkInd {
  position: sticky;
  left: 0;
  top: 20%;
}

@media screen and (max-width: 650px) {
  .tab {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    height: 4rem;
    position: sticky;
    top: 0;
    background-color: lightgrey;
  }
  .header {
    display: sticker;
    background-color: lightgrey;
  }
  header {
    /* background-color: green;
    padding: 0px 5px;
    justify-content: space-between;
    border-bottom: 3px solid green;
    height: auto; */
    display: none;
  }

  .menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 200px;
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: green;
    color: lightgray;
  }
  .icon-item {
    margin-bottom: 1rem;
  }
  .header #logo {
    color: lightgray;
    text-decoration: none;
  }
  .header span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: lightgray;
    /* width: 300px; */
    padding: 5px 10px;
  }
  .headline {
    height: auto;
  }
  .headline h1 {
    font-size: 1.5rem;
  }
  .header #logo {
    font-size: 1rem;
    color: green;
  }
  header {
    height: auto;
  }
  .headline {
    margin-top: 1rem;
    flex-direction: column;
    padding: 0px 10px;
    align-items: flex-start;
    /* border-bottom: 1px solid lightgray; */
  }
  .headline p {
    font-size: 0.9rem;
  }
  .tech-stacks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    align-self: center;
  }
  .headline button {
    align-self: center;
    margin-top: 10px;
    width: 300px;
  }
  .stack {
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 0px;
  }
  .headline strong {
    font-size: 0.9rem;
  }
}
