.projects-container {
  height: auto;
  padding: 0px 100px;
  margin-top: 0.7rem;
  display: flex;
  flex-direction: column;
}
.projects-container h1 {
  font-size: 3rem;
  color: lightgray;
  font-weight: 300;
}
.projects-container p {
  color: green;
}

.project-list {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 35rem);
  grid-gap: 0.2rem;
  /* padding: 10px 0px; */
}
.project-detail {
  height: auto;
  width: 550px;
  border: 1px solid lightgrey;
  display: block;
  background-color: rgba(0, 0, 0, 0.041);
  padding: 10px 10px;
}
.project-detail:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.project-detail p {
  padding-bottom: 0.5rem;
}
.project-detail h4 {
  color: green;
}
.project-detail img {
  width: 100%;
  height: 290px;
}

.btns {
  display: flex;
  width: 200px;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.btns button {
  margin-left: 0.2rem;
  padding: 2px 3px;
  background-color: green;
  color: lightgrey;
  border: none;
  border-radius: 4px;
}
.btns button:hover {
  background-color: lightgreen;
  color: grey;
}
.links-repo {
  display: flex;
  justify-content: space-around;
  width: 200px;
  padding: 10px 10px;
  background-color: lightgray;
  color: green;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media screen and (max-width: 650px) {
  .project-detail img {
    width: 100%;
    height: auto;
  }
  .btns {
    flex-direction: column;
  }
  .btns button {
    margin-top: 0.3rem;
    background-color: green;
    color: lightgrey;
    border: none;
    padding: 10px 5px;
  }
  .btns button:hover {
    background-color: lightgreen;
    color: grey;
  }
  .projects-container p {
    color: green;
    font-size: 0.8rem;
    text-align: center;
  }
  .project-detail {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
  }
  .projects-container {
    padding: 0px 30px;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project-list {
    grid-template-columns: repeat(1, 15rem);
    /* width: auto; */
  }
}

@media screen and (max-width: 712px) {
  .project-list {
    grid-template-columns: repeat(1, 20rem);
  }
}
